@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body {
  background-color: aliceblue;
}
.text-gradient {
  background: rgb(76, 236, 95);
  background: linear-gradient(
    90deg,
    rgb(47, 226, 68) 36%,
    rgb(40, 146, 58) 100%,
    rgba(152, 244, 127, 1) 100%,
    rgba(9, 9, 121, 1) 100%
  );
}
.text-gradient_2 {
  background: rgb(83, 201, 98);
  background: linear-gradient(
    90deg,
    rgba(83, 201, 98, 1) 0%,
    rgba(13, 133, 33, 1) 100%,
    rgba(97, 238, 60, 1) 100%,
    rgba(34, 228, 30, 1) 100%,
    rgba(114, 215, 112, 1) 100%
  );
}
